<div class="container">
    <h1>My Quotes</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-6">
          
        <div *ngFor='let quote of quote;let i = index'>
          <div>
              <div class="card">
                  <div class="card-body">
            <h6 class="card-title" id={{i}}>{{quote.genre}}</h6>
            <button (click) = "toggleDetails(i)">Check details</button>
            <app-quote-detail *ngIf = "quote.showDescription" [quote]='quote' (isComplete) = "deleteQuote($event, i)"></app-quote-detail>
          </div>
          </div>
          </div>
          </div>
        </div>
      <div style="float: right;" class="col-md-6">
        
      </div>
    </div>
  </div>