<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>

    <form style="border-radius: 30%;" (ngSubmit) = "submitQuote(quoteForm)" #quoteForm = "ngForm">
        <div class="form-group">
  
            <label for="name">Genre</label>
            <input type="text" required class="form-control" id="genre" [(ngModel)] = "newQuote.genre" name="genre" #genre = "ngModel">
            <div [hidden]="genre.valid || genre.pristine" class="alert alert-danger">
              <p>Genre is required</p>
            </div>
          
  {{newQuote.genre}}

        </div>
        <div class="form-group">
  
            <label for="title">Title</label>
            <input type="text" id="title" required class="form-control" rows="4" [(ngModel)] = "newQuote.title" name= "title" #title = "ngModel" required>
  {{newQuote.title}}
  <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
    <p>Title is required</p>
  </div>
        </div>
        <div class="form-group">
  
            <label for="quote">Quote</label>
            <textarea class="form-control" id="quote" rows="4" [(ngModel)] = "newQuote.quote" name="quote" #quote = "ngModel" required></textarea>
  {{newQuote.quote}}
  <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
    <p>Name is required</p>
  </div>
        </div>
        <div class="form-group">
  
            <label for="postedBy">Posted By</label>
            <input type="text" required class="form-control" id="postedBy" rows="4" [(ngModel)] = "newQuote.authorName" #authorName = "ngModel"  required>
  {{newQuote.authorName}}
  <div [hidden]="authorName.valid || authorName.pristine" class="alert alert-danger">
    <p>AuthorName is required</p>
  </div>


        </div>

        <button id="addButton" type="submit" class="btn btn-success">Add Quote</button>
       
    </form>
  
  </div>
